{% extends 'hssi_base_template.html' %}

{% load static %}

{% block title %}
HSSI Login Page
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'hssi_apps/css/accounts.css' %}?v=2024-09-05" />
    <link rel="stylesheet" href="{% static 'hssi_apps/css/media.css' %}?v=2024-09-05" />	
{% endblock %}

{% block page_content %}

<div class="container">
    {% if form.errors %}
        {% if form.captcha.errors %}
            {% for error in form.captcha.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        {% else %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
    {% endif %}
    {% if user.is_authenticated %}
        <p>You are logged in as: <b>{{ user.get_username }}</b></p>
        {% if next %}
            <p>This account does not have access to the page you were trying to reach.</p>
            <p>Log out and log back in with a different account:</p>
        {% endif %}
    {% endif %}
    
    {% if user.is_authenticated %}
        <p>You are logged in as: <b>{{ user.get_username }}</b></p>
        {% if next %}
        <p>This account does not have access to the page you were trying to reach.</p>
        <p>Log in with a different account:</p>
        {% endif %}
    {% endif %}
    <div class="form-container">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="login-form">
                <div class="username labeltext">{{ form.username.label_tag }}</div>
                <div class="username input">{{ form.username }}</div>
                <div class="password labeltext">{{ form.password.label_tag }}</div>
                <div class="password input">{{ form.password }}</div>
            </div>
            <input type="submit" value="Login" class="button">
            <input type="hidden" name="next" value="{{ next }}">
            {{ form.captcha }}
        </form>
        <p class="extra-link">
            <a href="{% url 'password_reset' %}">Set/Reset password?</a>
        </p>
        {% if user.is_authenticated %}
        <p class="extra-link">
            <a href="{% url 'logout' %}">Log out?</a>
        </p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
	{{ block.super }}
{% endblock %}