{% extends 'hssi_base_template.html' %}

{% load static %}

{% block title %}
HSSI Password Reset
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'hssi_apps/css/accounts.css' %}?v=2024-09-05" />
    <link rel="stylesheet" href="{% static 'hssi_apps/css/media.css' %}?v=2024-09-05" />	
{% endblock %}

{% block page_content %}
    <div class="container">
        <p>Please enter the email address associated with the account.</p>
        <form action="" method="post">
            {% csrf_token %}
            {% if form.email.errors %}
                {{ form.email.errors }}
            {% endif %}
            {% if form.captcha.errors %}
                {{ form.captcha.errors }}
            {% endif %}
            <p>{{ form.email }}</p>
            <input type="submit" class="button" value="Send password reset link">
            {{ form.captcha }}
        </form>
    </div>
{% endblock %}

<!-- SCRIPTS -->
{% block scripts %}
	{{ block.super }}
{% endblock %}
<!-- END SCRIPTS -->