{% extends 'hssi_base_template.html' %}

{% load static %}

{% block title %}
HSSI Password Reset Sent
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'hssi_apps/css/accounts.css' %}?v=2024-09-05" />
    <link rel="stylesheet" href="{% static 'hssi_apps/css/media.css' %}?v=2024-09-05" />	
{% endblock %}

{% block page_content %}
    <div class="container">
        <p>An email was sent to that address with a link to reset your password.</p>
        <p>Please check your email and follow the link to complete the reset process.</p>
    </div>
{% endblock %}

{% block scripts %}
	{{ block.super }}
{% endblock %}