{% load unique_id %}
{% unique_id "combobox" as uid %}

<style>
  .combobox-container {
    position: relative;
  }
  
  .combobox-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background: white;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 1000;
    list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .combobox-options li {
    padding: 8px;
    cursor: pointer;
  }
  
  .combobox-options li:hover {
    background:rgb(154, 181, 255);
  }
</style>

<div class="combobox-container">
  <input 
    type="text" 
    name="{{ widget.name }}" 
    value=""
    {% include "django/forms/widgets/attrs.html" %}
    class="combobox-input {{ uid }}-input"
  >
  <ul 
    class="combobox-options {{ uid }}-options" 
    style="display: none;"
  > </ul>
</div>
  
<script>(function(){

  const input = document.getElementsByClassName("{{ uid }}-input")[0];
  const list = document.getElementsByClassName("{{ uid }}-options")[0];

  // create a list of every object in the combobox model
  const all = [
      {% for id, name, kw in widget.choices %}
          {
            id: "{{ id }}",
            name: "{{ name }}",
            keywords: [
              {% for k in kw %}
                "{{ k }}".toLocaleLowerCase(){% if not forloop.last %},{% endif %}
              {% endfor %}
            ]
          } {% if not forloop.last%},{% endif %}
      {% endfor %}
  ];

  // create a list element in the ul for each item
  for (let op of all) {
    const li = document.createElement('li');
    li.tabIndex = 0;
    li.style.userSelect = 'none';
    li.style.display = 'none'
    li.data = op;
    li.innerText = op.name;
    list.appendChild(li);

    li.addEventListener('click', function() {
      input.value = li.data.name;
      input.setAttribute('data-id', li.data.id);
      hideOptions();
    });
  }

  // add event listeners for interacting with dropdown
  input.addEventListener('focus', filterOptions);
  input.addEventListener('input', filterOptions);
  input.addEventListener('focusout', (e) => {
    /** @type {HTMLElement} */
    let focusTarget = e.relatedTarget
    if (focusTarget == null){
      hideOptions();
      return;
    }
    if(!focusTarget.parentElement.classList.contains('combobox-options')){
      hideOptions();
    }
  });

  // filter and show dropdown based on char field value
  function filterOptions() {
    splitInput = input.value.toLocaleLowerCase().split(' ')
    outer: for (option of list.children) {
      if (input.value.length <= 0) {
        option.style.display = 'block';
        continue outer;
      }
      for (kw of option.data.keywords) {
        for (inWord of splitInput) {
          if (kw.includes(inWord)){
            option.style.display = 'block';
            continue outer;
          }
        }
      }
      option.style.display = "none"
    }
    list.style.display = 'block';
  };

  // hide the dropdown
  function hideOptions() {
    list.style.display = 'none';
  };

})()</script>
