<style>

  .form-wrapper {
    justify-content: center;
    margin: 120px;
    padding: 25px;
    margin-top: 0;
  }
  @media (max-width: 800px) {
    .form-wrapper {
      margin: 0;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  .invalid-mandatory {
    border: 2px solid red;
  }
  .invalid-mandatory.note {
    border: 0;
    color: red;
    display: block;
    font-size: 0.8em;
    user-select: none;
  }
  .invalid-recommended {
    border: 2px solid orange;
  }
  .invalid-recommended.note {
    border: 0;
    color: darkorange;
    display: block;
    font-size: 0.8em;
    user-select: none;
  }
  .tooltip-wrapper {
    position: relative;
    display: inline-block;
  }
  .tooltip-icon {
    color: white;
    font-size: smaller;
    text-align: center;
    background-color: #72a7cf;
    display: inline-block;
    margin-left: 4px;
    cursor: pointer;
    border-radius: 50%;
    padding: 0 5px;
    font-weight: bold;
    position: relative;
    width: 20px;
    height: 20px;
    transform: scale(0.75);
  }
  .tooltip-text {
    display: none;
    position: absolute;
    background: #333;
    color: white;
    padding: 6px 8px;
    border-radius: 4px;
    font-size: 0.9em;
    white-space: normal;
    max-width: 500px;
    width: max-content;
    top: 100%;
    left: 0;
    z-index: 100;
  }
  .explanation-text {
    font-size: smaller;
    opacity: 50%;
  }
  .tooltip-icon:hover + .tooltip-text {
      display: block;
  }
</style>

<div class="form-wrapper" data-hssi-type="generated-form">
  <form method="post">
    {% csrf_token %}
    {% block form_content %}
    <div class="field-container" data-hssi-type="form-field-container">
    </div>
    {% endblock  %}
  </form>
  {% block field_data %}
  <script data-hssi-data="fields-structure-name" type="text/plain">
    {{ structure_name|default:"" }}
  </script>
  {% endblock %}
</div>