<div class="form-wrapper">
	<form method="post" action="submit_data" data-hssi-type="generated-form">
		{% csrf_token %}
		{% block form_content %}
		<div class="field-container" data-hssi-type="form-field-container">
		</div>
		{% endblock  %}
	</form>
	{% block field_data %}
	<script data-hssi-data="fields-structure-name" type="text/plain">
		{% if structure_name %}"{% endif %}{{ structure_name|default:"" }}{% if structure_name %}"{% endif %}
		{% if structure_names %}[{% endif %}{% for name in structure_names %}"{{ name }}"{% if forloop.last %}{% else %},{% endif %}{% endfor %}{% if structure_names %}]{% endif %}
	</script>
	{% endblock %}
</div>