.hidden { display: none; }

.filter-menu {
	user-select: none;
	background-color: #ececec;
}

.filter-menu ul {
	list-style: none;
}

.filter-menu .active-filters,
.filter-menu .filter-container {
	background-color: #b7b7b7;
	color: white;
	font-weight: bolder;
	min-height: 40px;
	padding: 5px;
}

.filter-menu .filtergroup-container {
	border: 1px solid #222;
	border-radius: 3px;
	padding: 5px 0 5px 0;
	margin-right: 5px;
}

.filter-menu .filtergroup-container:hover {
	background-color: #444;
}

.filter-menu .filter-controls {
	background-color: #969696;
	text-align: right;
	min-height: 25px;
	padding: 5px;
}

.filter-menu .filter-controls .group-control {
	color: white;
	border: 1px solid white;
	cursor: pointer;
	border-radius: 3px;
	font-weight: bolder;
	padding: 5px;
	padding-bottom: 2px;
	margin-left: 5px;
}

.filter-menu .filter-controls .group-control.group-mode {
	font-size: 10px;
}

.filter-menu .filter-controls .group-control.selected {
	color: black;
	background-color: white;
	cursor: inherit;
}

.active-filters .item-chip.invert-filter,
.filter-container .item-chip.invert-filter {
	text-decoration: line-through;
}

.filter-menu .filter-controls .group-control.group-clear {
	border-color: #C00;
}

.filter-menu .filter-controls .group-control.group-create {
	border-color: green;
}

.filter-container .item-chip {
	margin-right: 5px;
	margin-bottom: 2px;
}

.filter-menu .tab-container {
	display: flex;
	border-top: 1px solid black;
	background-color: #cfcfd1;
}

.filter-menu .tab-header {
	display: flex;
	flex-wrap: wrap-reverse;
	flex: 1 1 auto;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: #cfcfd1;
	border: 1px solid #b7b7b7;
	border-bottom-width: 0;
	text-align: center;
	cursor: pointer;
	padding-top: 5px;
	padding: 10px;
	padding-bottom: 5px;
}

.filter-menu .tab-container .selected {
	font-weight: bold;
	text-decoration: underline;
	cursor: inherit;
	/*
	background-color: #ececec;
	*/
}

.filter-menu .tab-content {
	padding: 10px;
	overflow: auto;
	max-height: 75vh;
}

.tab-content>ul>.filter-item>div>.item-label {
	cursor: pointer;
	padding-top: 2.5px;
}

.tab-content>ul>.filter-item>div>.item-label:hover {
	font-weight: bold;
}

.filter-item>div {
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	align-items: center;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.filter-item {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13.5px;
	margin-top: 2.5px;
	margin-bottom: 2.5px;
	vertical-align: text-bottom;
}

.filter-item * {
	margin-right: 5px;
}

.filter-item .filter-item {
	margin-top: 0;
	margin-bottom: 0;
}

.filter-item>div>* {
	display: inline-block;
	vertical-align: middle;
}

.filter-item .item-chip {
	cursor: pointer;
}

.filter-menu .tab-content .menu>li button {
	position: absolute;
	cursor: pointer;
	top: 0;
	right: 0;
	color: #1779ba;
	padding: 10px;
	padding-right: 0;
}

.filtergroup-container {
	position: relative;
}

.item-chip {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	display: inline-block;
	position: relative;
	cursor: pointer;
	border-radius: 3px;
	padding: 2.5px;
	padding-left: 0;
	padding-right: 0;
	width: 40px;
	height: 25px;
	font-size: 12px;
	text-align: center;
}

.filtergroup-container > button,
.item-chip > button {
	position: absolute;
	color: orangered;
	background-color: white;
	cursor: pointer;
	font-size: 8pt;
	border-radius: 8px;
	border: 1px solid red;
	width: 15px;
	height: 15px;
	right: -5px;
	top: -6px;
	z-index: 1;
}

.item-chip.subchip {
	font-weight: normal;
}