form .indent {
    padding-left: 20px;
}

form details:not([open]) {
    padding-left: 11px;
    cursor: pointer;
}

form details[open] {
    border-left: solid 1px #3333;
    padding: 10px;
    padding-top: 0;
}

form details {
    box-shadow: 0px 2px 5px #3333;
}

form .custom-label {
    margin-top: 10px;
}

form .multi-field-row + .multi-field-row {
    margin-top: 10px;
}

.widget-dropdown {
    margin: 0;
    padding: 0;
    max-height: 200px;
    border: 1px solid #ccc;
    background: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.widget-dropdown ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

.widget-dropdown li {
    padding: 8px;
    padding-left: 16px;
    cursor: pointer;
}

.widget-dropdown li.selected {
    background:rgb(154, 181, 255);
}

.widget-tooltip {
    display: none;
    position: absolute;
    background: #333;
    color: white;
    padding: 6px 8px;
    border-radius: 4px;
    font-size: 0.9em;
    white-space: normal;
    max-width: 500px;
    width: max-content;
    top: 100%;
    left: 0;
    z-index: 2000;
    pointer-events: none;
}

[data-hssi-widget="ModelBox"] {
    position: relative;
}

[data-hssi-widget="ModelBox"] .dropdown-button {
    border-left: #ccc solid 1px;
}