/* NAVIGATIONBAR */

.nav-content {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	background: #2f2c2c;
	z-index: 1001;
}

.site-name-short {
	padding: 0.3rem;
	padding-left: 1.6rem;
	font-size: 1.2rem;
	color: white;
}

div.social-icon-container {
	margin-right: 1.6rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.social-link {
	margin: 0 0.5rem;
}

.social-link img {
	max-height: 1.2rem;
	min-width: 1.2rem;
}

.feedback-btn {
	margin: 0 25px 0 0;
}

.feedback-btn img {
	max-width: 35px;
	padding: 5px;
	background-color: white;
	height: 100%;
	border-radius: 5px;
}

.nav-link {
	padding: 0 10px;
}

.nav-link:has(+ a.login-icon) {
	padding: 0 4px 0 10px;
}

.nav_dropdown_list a:hover {
	color: white;
	text-decoration: underline;
}

.menu-list a {
	color: #9d9d9d;
	font-size: 14px;
}

.dropdown a:hover {
	color: white;
}

.menu-list a:hover {
	color: #C0BCBC;
}

.navbar-list {
	padding: 1.5em 0 0.4em 4em;
}

nav {
	font-family: Raleway;
}

.navbar_sidebar li {
	font-size: 14px;
	font-weight: bold;
}

.nav_dropdown_list li {
	display: inline-block;
	float: unset;
	font-size: 16px;
	font-weight: 500;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #2f2c2c;
	cursor: default;
	text-transform: unset;
	padding: 7px 0px;
}

.nav_dropdown_list a {
	color: white;
}

.nav_dropdown_list {
	margin-bottom: 0;
	text-align: center;
}

.nav_dropdown_list li:not(:last-child)::after {
	position: relative;
	margin: 0;
	opacity: 0.5;
	content: "|";
	color: #ffffff;
}

.label_warning {
	background-color: rgb(248, 148, 6);
	color: white;
	min-width: 40px;
	text-align: center;
}

.label_yellow {
	background-color: rgb(231, 246, 43);
	color: #5a1010;
	min-width: 40px;
	text-align: left;
}

.label_purple {
	background-color: rgb(149, 133, 191);
	color: white;
	min-width: 40px;
	text-align: left;
}

.label_success {
	background-color: rgb(130, 175, 111);
	color: white;
	min-width: 40px;
	text-align: left;
}

.navbar_sidebar_main {
	width: 25%;
}

.text-muted {
	padding: 0 1rem 1rem 1rem;
	color: #777;
	font-size: 14px;
}

.menu.label {
	font-size: 12px;
}

.vertical.menu li:hover {
	background-color: #cfcfd1;
}

/* Main content */
.main-content {
	padding: 1.25rem;
	border-radius: 5px;
	background: linear-gradient(to right,#fcfcfd, #ececec);
	margin-top: -59px;
}

.button.success {
	margin-bottom: 16px;
	color: white;
}

.button.success:hover {
	color: white;
}

.button {
	font-weight: bold;
	border-radius: 3px;
	font-size: 14px;
	padding-right: 1rem;
	padding-left: 1rem;
	margin-right: 0.4rem;
}

.sub-head {
	font-size: 13px;
}

.navbar-brand_logo img {
	height: 100%;
	width: auto;
}

#dropdown-menu {
	position: sticky;
	position: -webkit-sticky;
	top: 0px;
	z-index: 999;
	width: 100%;
}

/* sticky for Mobile view */
.title-bar {
	position: sticky;
	position: -webkit-sticky;
	top: 0px;
	z-index: 999;
}

/* Back to top button */
.scroll-button {
	font-size: 35px;
	position: fixed; 
	right: 8px;
	background-color: #f1f1f1d4;
	width: 45px;
	height: 45px;
	border: 1px solid darkgrey;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.back-to-top {
	bottom: 70px;
}

.go-to-bottom {
	bottom: 20px;
}

.fa-angle-double-up,
.fa-angle-double-down {
	position: relative;
	-webkit-animation: bounce 1s infinite; /* Safari 4.0 - 8.0 */
	animation: bounce 1s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes bounce {
	from {transform: scale(1);}
	to {transform: scale(1.05);}
}

@keyframes bounce {
	from {transform: scale(1);}
	to {transform: scale(1.05);}
}