.no-results {
	color: #14679e;
	font-size: 18px;
	font-weight: bold;
	color: red;
	width: 100%;
	text-align: center;
}

.resource-item {
	background-color: #ececec;
	border: 1px solid #bcbcbd;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 15px;
}

.resource-item .author, 
.resource-item .author a {
	color: rgb(77, 77, 77);
}

.resource-item .author a:hover {
	text-decoration: underline;
}

.resource-item .resource-title {
	font-size: 18px;
	font-weight: bold;
}

.resource-item .bottom-buttons {
	margin-top: 20px;
	clear: both;
}

.resource-item .expand-button {
	position: absolute;
	color: #3598db;
	border: 1px solid #3598db;
	border-radius: 15px;
	background-color: white;
	font-size: 18px;
	cursor: pointer;
	width: 50px;
	height: 30px;
	bottom: 0;
	right: 50%;
	transform: translate(50%, 25%);
}

.resource-item .resource-header {
	display: flex;
	font-size: 13px;
	margin-bottom: 10px;
}

.resource-item .logo {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	max-width: 50%;
	max-height: 100px;
	width: auto;
	height: auto;
	box-shadow: grey 2px 2px 5px;
}

.resource-header > div {
	display: inline-block;
}

.resource-header .header-chips {
	display: inline-block;
	vertical-align: top;
	text-align: right;
	min-width: 0;
	flex: 1;
}

.header-chips .item-chip {
	margin-left: 5px;
	margin-bottom: 5px;
}

.item-chip {
	user-select: none;
	cursor: inherit;
}

.link-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	border: 1px solid black;
	border-radius: 5px;
	margin-right: 10px;
	padding: 10px;
	line-height: 1;
}

.link-btn:hover {
	color: black;
	border-color: black;
	text-decoration: none;
}

.resource-header>.btn-feedback {
	width: 35px;
	height: 35px;
	margin-left: 10px;
	background-image: url("/static/images/feedback.png");
	background-size: contain;
}

.link-btn i {
	display: flex;
	align-items: center;
	font-size: 16px;
	margin-right: 5px;
	line-height: 1;
}

.btn-code {
	color: #559e41;
	border-color: #559e41;
}

.btn-doi {
	color: #f47f1c;
	border-color: #f47f1c;
}

.btn-docs {
	color: #5070e5;
	border-color: #5070e5;
}

.btn-publication {
	color: #c550e5;
	border-color: #c550e5;
}