{% comment %}
  {% load unique_id %}
  {% unique_id "modelbox" as uid %}
{% endcomment %}
  
<div 
  class="modelbox-container" 
  data-hssi-widget="ModelBox"
  data-hssi-uid="{{ uid }}"
>
  {% block input_element %}
  {% endblock %}
  {% block aux_elements %}
  {% endblock %}
  {% block widget_data %}
  <script type="application/json" data-hssi-data="json-properties">
    {{ widget.properties_json|safe }}
  </script>
  <script type="application/json" data-hssi-data="json-options">
    {{ widget.choices_json|safe }}
  </script>
  {% endblock %}
</div>
