{% extends 'site_base_template.html' %}

{% load custom_tags_and_filters %}
{% load static %}

{% block title %}
	{% if related_resource %}
		{{related_resource.name}}
	{% else %}
		{{block.super}}
	{% endif %}
{% endblock %}

{% block seo_description %}
	{% if related_resource %}
		<meta name="description" content="{{related_resource.description}}" />
	{% else %}
		{{block.super}}
	{% endif %}
{% endblock %}

{% block head %}

	{{ block.super }}
	
	{% include "website/social_preview.html" %}

	<link rel="stylesheet" href="{% static 'css/categories.css' %}?v=2024-10-15" />
	<link rel="stylesheet" href="{% static 'css/resources.css' %}?v=2024-10-15" />
	<link rel="stylesheet" href="{% static 'css/media.css' %}?v=2024-10-15" />
	<link rel="stylesheet" href="{% static 'css/app.css' %}?v=2024-10-15" />
	<link rel="stylesheet" href="{% static 'css/filter_menu.css' %}" />
	<link rel="stylesheet" href="{% static 'css/resource_softwares.css' %}" />

	{% include "website/category_styling.html" %}

	<script type="text/javascript" src="{% static 'js/homePage.js' %}?v=2024-10-15"></script>
	<script type="text/javascript" src="{% static 'js/spin.js' %}"></script>

{% endblock %}
<!-- END HEAD -->

<!-- PAGE CONTENT -->
{% block page_content %}

	<div id="main-grid-layout" class="main-grid-layout">

		<div id="sidebar" class="sidebar">
			<!-- SEARCHBAR -->
			<div class="search_form_div">
				<div class="search_form">
					<div class="search-container">
						<input 
							type="search" 
							id="searchbar" 
							name="q" 
							class="search-form" 
							value="{{request.GET.q}}" 
							placeholder="Search"
						>
						<button type="button" class="search-button">
							<img 
								id="searchbar-btn"
								class="search-img" 
								src="{% static 'images/blue-glass.jpg' %}" 
								alt="search-glass" 
							/>
						</button>
					</div> 
				</div>
			</div>
			<!--END SEARCHBAR -->

			<!-- CATEGORY SELECTOR -->
			<div class="category_list">
				<!-- CATEGORY SELECTOR FOR MEDIUM DISPLAY -->
				<div class="filter-sidebar hide-for-small-only">
					<div class="filter_selector">
						<div class="filter-menus">
							<div class="filter-section-body open">
								<script>makeFilterMenuElement();</script>
							</div>
						</div>
					</div>
				</div>
				<!-- END CATEGORY SELECTOR FOR MEDIUM DISPLAY -->
			</div>
		</div>

		<!-- MAIN CONTENT -->
		<div class="main-content">

			{% block page_description %}
			{% endblock %}
			
			<div class="resource-content-header">
				<!-- Used to show no results found! -->
				<div id="result-count"></div>
				<div id="sort_menu">
					<!-- default to sort by date -->
					<input 
						id="sort_by_date" 
						type="button" 
						class="button sort-button active-sort" 
						value="Sort by Date" 
						selected="selected" 
					/>
					<input 
						id="sort_by_name" 
						type="button" 
						class="button sort-button" 
						value="Sort by Name" 
					/>
				</div>
			</div>
			<!-- RESOURCE CONTENT -->
			<div id="resource_content">
				<script> makeResourceView(); </script>
				{% comment %}
				{% include "website/resource_list.html" %}
				{% endcomment %}
			</div>
			<div id="loading_modal"></div>
			
		<!-- END MAIN CONTENT -->
		</div>

	</div>

{% endblock %}
<!-- END PAGE CONTENT -->

<!-- SCRIPTS -->
{% block scripts %}
	{{ block.super }}
{% endblock %}
<!-- END SCRIPTS -->