<div class="callout medium resource-info hide-for-small-only collection" data-collection-id="{{collection.id}}">
    <div class="collection-header">
        The {{collection.name}} Collection
    </div>
    <div class="collection-description">
        {{collection.description|safe}}
    </div>
</div>

<!-- mobile view only -->
<div class="callout small resource-info show-for-small-only collection" data-collection-id="{{collection.id}}">
    <div class="collection-header">
        The {{collection.name}} Collection
    </div>
    <div class="collection-description">
        {{collection.description|safe}}
    </div>
</div>