{% extends 'website/emac_email_template.html' %}

{% block email_content %}

<h1> Listing {{ tool_name }} on <a href="#">HSSI</a> </h1>
<p>Dear {{ submitter_first_name }},<br>
<br>
    {% block contactcount %}
    {% endblock %}
<br>
<br>
    We think {{ tool_name }} would be a valuable resource for the exoplanet 
    scientist community to have to on HSSI and have already filled in some basic 
    information we could find on it. But the more info we have, the more likely 
    that other scientists in the field will be able to find your resource. 
    Please consider adding (or correcting) the information found 
    <a href="#/submissions/{{ tool_id }}">here</a>.<br>
<br>
    {% block inlitelig %}
    {% endblock %}
<!-- TODO -->
<br>Thank you,<br>
<br>The HSSI Support Team</p>

{% endblock %}