{% load custom_tags_and_filters %}

{% if is_dropdown %}
<ul class="vertical dropdown menu accordion-menu mobile-menu-container" data-accordion-menu>
{% else %}
<ul class="vertical menu accordion-menu" data-accordion-menu>
{% endif %}
    {% for tag in tags %}
    <li class="filter_menu">
        <a class="filter_dropdown"> 
            <div class="filter_label">
                <label class="label {{tag.abbreviation}}">
                    <input class="label {{tag.abbreviation}} parent_filter" type="checkbox" name="{{filter_type}}_checkbox" value="{{tag.id}}" id="{{tag.id}}"
                    {% if tag.id in selected_filter_ids %} checked {% endif %} >
                    {{tag.abbreviation}}
                </label>
                <label for="{{tag.id}}" class="category_name {{tag.abbreviation}}" parent-abbr="{{tag.abbreviation}}">{{tag.name}}</label> 
            </div>
        </a>
    </li>
    <!--
    {% if selected_filter_ids and tag.id not in selected_filter_ids and not selected_subfilter_ids %}
    <li class="unselected_filter filter_menu">
    {% elif selected_filter_ids and tag.id in selected_filter_ids %}
    <li class="selected_filter filter_menu">
    {% else %}
    <li class="filter_menu">
    {% endif %}
        <a class="filter_dropdown">
            <div class="filter_label">
                <label class="label {{tag.abbreviation}}">
                    <input class="label {{tag.abbreviation}} parent_filter" type="checkbox" name="{{filter_type}}_checkbox" value="{{tag.id}}" id="{{tag.id}}"
                    {% if tag.id in selected_filter_ids %} checked {% endif %} >
                    {{tag.abbreviation}}
                </label>
                <label for="{{tag.id}}" class="category_name {{tag.abbreviation}}" parent-abbr="{{tag.abbreviation}}">{{tag.name}}</label>
            </div>
        </a>
        {% if tag.children.all %}
            <ul class="menu vertical nested">
                {% for subtag in tag.functionalities.all %}
                <li>
                    <input class="label sub_filter" type="checkbox" name="{{filter_type}}_checkbox" value="{{subtag.id}}" id="{{tag.id}}_{{subtag.id}}"
                        {% if subtag.id in selected_subfilter_ids %} checked {% endif %} >
                    </input>
                    <label class="subcategory_name" for="{{tag.id}}_{{subtag.id}}" parent-abbr="{{tag.abbreviation}}">{{subtag.name}}</label>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    </li>
    -->
    {% endfor %}
</ul>

{% if not is_dropdown %}
    <div class="cat-description" data-description-type="{{filter_type}}">
        <span>{{filter_type}} Descriptions</span> <i class="fa fa-external-link"></i>
    </div>
    <div class="reveal description-modal {{filter_type}}" id="{{filter_type}}-description-modal" data-reveal>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
        {% for tag in tags %}
        <div class="description">
            <div class="cat_name">
                <i class="fa fa-circle {{tag.abbreviation}}" aria-hidden="true"></i>
                {{tag.name}}
            </div>
            <div class="description-text">{{tag.description}}</div>
        </div>
        {% endfor %}
        {% if filter_type == "category" %}
        <div id="cat_suggestion">
            <script type="text/javascript">
                // Email obfuscator script 2.1 by Tim Williams, University of Arizona
                // Random encryption key feature coded by Andrew Moulden
                // This code is freeware provided these four comment lines remain intact
                // A wizard to generate this code is at http://www.jottings.com/obfuscator/
                { 
                    var coded = "D8Jy-l13y@139i.t383.DUZ";
                    var key = "FitMsa0N7YcpT1CDze6xVbLI9dO83AvG4ySfoBwklnHhWXRQKPuqmZgEj2JUr5";
                    var shift = coded.length;
                    var link = "";
                    var ltr = "";
                    for (var i = 0; i < coded.length; i++) {
                        if (key.indexOf(coded.charAt(i)) === -1) {
                            ltr = coded.charAt(i);
                            link += (ltr);
                        } else {
                            ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
                            link += (key.charAt(ltr));
                        }
                    }
                    document.write("<a href='mailto:" + link + "'>New Category Suggestion?</a>");
                }
            </script>
        </div>
        {% endif %}
    </div>
{% endif %}