{% extends 'website/categorized_resources.html' %} 

{% block page_description %}

	<p class="welcome main-text">
		Welcome to the Heliophysics Software Search Interface (HSSI)
	</p>
	<p class="main-text">
		<p>
			HSSI serves as a catalog, repository and integration platform for 
			modeling and analysis resources focused on heliophysics research.
		</p>
	</p>

	<div class="small reveal box-modal" id="modal" data-reveal>
		<button class="close-button" data-close aria-label="Close modal" type="button">
		  <span aria-hidden="true">&times;</span>
		</button>
		<div class="modal-content"></div>
	</div>

{% endblock %}

{% block scripts %}

	{{ block.super }}

	<script>

		function getResourceFeedback(resourceID){
			$.ajax({
				url:'',
				type: 'GET',
				data: {'resource_id' : resourceID},
				dataType:'json',
				success: function(data){
					$('#modal .modal-content').html(data.rendered_form);
					$('#modal .modal-content').prepend(data.resource_name).addClass('popup-title');
					$('#modal').foundation('open');
				},
				error: function(xhr,errmsg,err){
					console.log("error");
					console.log(xhr.status + ": " + xhr.responseText);
				}
			})
		};

		function submitResourceFeedback(){
			var feedback_form = new FormData(document.getElementById('resource_feedback_form'))
			$.ajax({
				url:'',
				type: 'POST',
				data: feedback_form,
				contentType: false,
            	processData: false,
				dataType: 'json',
				success: function(data){
					if (data.rendered_form)
					{
						// Validation failed, display rendered form
						$('#modal .modal-content').html(data.rendered_form);
					}
					else
					{
						$('#modal').foundation('close');
					}
				},
				error: function(xhr,errmsg,err){
					console.log("error");
					console.log(xhr.status + ": " + xhr.responseText);
				}
			})
		};

	</script>
{% endblock %} 
