<div class="callout resource-links">
    <div class="resource-name" id="{{resource.id}}">{{resource.name}}</div>
    <button type="button" class="hollow button secondary scan">Scan links</button>
    <table class="links-table">
        <tbody>
            <tr>
                <td>Logo link</td>
                <td class="status-code"><a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status" target="_blank">{{resource.logo_url_status}}</a></td>
                <td class="link-url"><a href="{{resource.logo_link}}" target="_blank">{{resource.logo_url}}</a></td>
            </tr>
            <tr>
                <td>Repository</td>
                <td class="status-code"><a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status" target="_blank">{{resource.repo_url_status}}</a></td>
                <td class="link-url"><a href="{{resource.repo_url}}" target="_blank">{{resource.repo_url}}</a></td>
            </tr>
            <tr>
                <td>Documentation</td>
                <td class="status-code"><a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status" target="_blank">{{resource.docs_url_status}}</a></td>
                <td class="link-url"><a href="{{resource.docs_url}}" target="_blank">{{resource.docs_url}}</a></td>
            </tr>
            <tr>
                <td>Website</td>
                <td class="status-code"><a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status" target="_blank">{{resource.website_url_status}}</a></td>
                <td class="link-url"><a href="{{resource.website_url}}" target="_blank">{{resource.website_url}}</a></td>
            </tr>
        </tbody>
    </table>
</div>