{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% load markdownify %}

<a class="anchor-set anchor-name" name="{{resource.id}}"></a>

{% if highlighted %}
<div class="callout resource-info highlighted-resource" data-resource-id="{{resource.id}}">
{% else %}
<div class="callout resource-info collapsed" data-resource-id="{{resource.id}}">
{% endif %}
    {# header / top section #}
    <div class="resource-header-row">
        <div>
            <div class="resource_name">{{resource.name}}
            {% if resource.version %}
                <span class="resource_version">{{resource.version}}</span>
            {% endif %}
            </div>
            <p class="resource_info">
                {{resource.author|markdownify}}
            </p>
            <p class="resource_categories">
            {% for category in resource.categories.all %}
                <label 
                    class="label {{category.abbreviation}}"
                    {% if category.has_parents %}
                        style="color: {{category.get_parent.text_color}}; background: {{category.get_parent.theme_color}}"
                    {% endif %}
                >
                    <input 
                        class="label {{category.abbreviation}} resource_info_label" 
                        type="checkbox" 
                        name="category_checkbox" 
                        value="{{category.id}}"
                        {% if category.id in selected_category_ids %} checked {% endif %} 
                    >
                    {{category.name}}
                </label>
            {% endfor %}
            </p>
            <p class="resource_types">
            {% for ttype in resource.tool_types.all %}
                <label 
                    class="label {{ttype.abbreviation}}" 
                    {% if ttype.has_parents %}
                        style="color: {{ttype.get_parent.text_color}}; background: {{ttype.get_parent.theme_color}}"
                    {% endif %}
                >
                    <input 
                        class="label {{ttype.abbreviation}} resource_info_label" 
                        type="checkbox" 
                        name="tooltype_checkbox" 
                        value="{{ttype.id}}"
                        {% if ttype.id in selected_tooltype_ids %} checked {% endif %} 
                    >
                    {{ttype.name}}
                </label>
            {% endfor %}
            </p>
        </div>
        <div class="icon-container">
            <div class="copy_img" data-tooltip tabindex="1" title="Copy link to clipboard" data-position="bottom" data-alignment="right">
                <img  class="copy-icon" src="/static/images/copy_clipboard.png" alt="Copy link">
            </div>
            <span class="copy_link">
                <a href="{{SITE_PROTOCOL}}://{{SITE_DOMAIN}}?id={{resource.id}}">{{SITE_PROTOCOL}}://{{SITE_DOMAIN}}?id={{resource.id}}</a>
            </span>
            <div class="feedback_img hide-for-small-only" data-tooltip tabindex="1" title="Feedback">
                <img class="feedback-icon" onclick="getResourceFeedback('{{resource.id}}')" src="/static/images/feedback.png" alt="feedback_img">
            </div>
        </div>
    </div>
    {# bottom section #}
    <div class="grid-x">
        {# description #}
        <div class="small-10 medium-9 large-9">
            <div class="resource_description">
            {% if resource.is_under_development %}
                WEB TOOL DEVELOPMENT IN PROGRESS &mdash;
            {% endif %}
            {{resource.description|markdownify}}
            </div>
            <div class="resource-details hide-for-small-only">
                <p class="resource_code">
                    Code Language(s): {{resource.code_language}}
                </p>
                <p class="resource_updated">
                    Last updated: {{resource.creation_date|date:'M. j, Y'}}
                </p>
                {% if resource.version %}
                <p class="resource-version">
                    Version: {{ resource.version }}
                </p>
                {% endif %}
            </div>
        </div>
        {# logo section #}
        <div class="small-2 medium-3 large-3 logo_container hide-for-small-only">
            {% if resource.logo_url %}
                {% if resource.logo_link %}
                    <a href="{{resource.logo_link}}" id="{{resource.id}}_logo_link" class="logo_link">
                {% elif resource.about_link %}
                    <a href="{{resource.about_link}}" id="{{resource.id}}_logo_link" class="logo_link">
                {% endif %}
                    <img class="resource_logo" loading="lazy" src="{{resource.logo_url}}" alt="logo">
                {% if resource.logo_link or resource.about_link %}
                    </a>
                {% endif %}
            {% endif %}
        </div>
        {# buttons #}
        <div class="text-right small-12">
            {% if resource.about_link %}
                <a class="hollow button about_btn float-left" id="{{resource.id}}_about_link" href="{{resource.about_link}}" data-tooltip tabindex="1" title="Learn what the tool is used for and how to use it" data-position="bottom" data-alignment="right">About</a>
            {% endif %}
            {% if resource.demo_link %}
                <a class="hollow button alert float-left" id="{{resource.id}}_demo_link" href="{{resource.demo_link}}" data-tooltip tabindex="1" title="View a video demonstration of the basic use of the tool" target="_blank;" data-position="bottom" data-alignment="right">Demo</a>
            {% endif %}
            
            {% if highlighted %}
                <a class="button reset_btn float-left reset_btn" href='/'>Reset</a>
            {% elif resource.related_resources.count %}
                <a class="hollow button related_btn float-left" data-open="modal-{{resource.id}}"
                    href='?related_resource={{resource.id}}' data-tooltip tabindex="1" title="See resources that are related to this tool" data-position="bottom" data-alignment="right">Related</a>
            {% endif %}
            
            {% if resource.download_link %}
                <a class="hollow button download_btn hide-for-small-only" id="{{resource.id}}_download_link" href="{{resource.download_link}}" data-tooltip tabindex="1" title="View and download the source code to run the tool locally" data-position="bottom" data-alignment="right">Code</a>
            {% endif %}
            {% if resource.download_data_link %}
                <a class="hollow button download_data_btn hide-for-small-only" id="{{resource.id}}_download_data_link" href="{{resource.download_data_link}}" data-tooltip tabindex="1" title="View and download output or input files for this resource" data-position="bottom" data-alignment="right">Data</a>
            {% endif %}
            {% if resource.launch_link %}
                <a class="hollow button launch_btn" id="{{resource.id}}_launch_link" href="{{resource.launch_link}}" data-tooltip tabindex="1" title="Open the tool's web application" data-position="bottom" data-alignment="right">WebApp</a>
            {% endif %}
        </div>
    </div>

    <div class="arrow">
        <i id="icon" class="fa fa-angle-down rotate"></i>
    </div>
</div>
    
<div class="child-category-list" data-resource-id="{{resource.id}}">
    {% for category in resource.categories.all %}
        {% if category.has_parents %}
            {% for parent in category.parents.all %}
                <div data-category="{{category.id}}" data-parent="{{parent.id}}"></div>
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>
