{% extends 'hssi_base_template.html' %} 

{% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/seminars.css' %}?v=2024-09-05" />
    <script type="text/javascript" src="{% static 'js/seminars.js' %}?v=2024-09-05"></script>
{% endblock %}

{% block page_content %}

<div class="container">
    
    <div class="accordion-section expanded">
        <div class="accordion-header-bar">
            <h2 class="accordion-title">Software Talks</h2>
            <div class="caret-container">
                <span class="caret caret-flip"></span>
            </div>
        </div>
        <div class="accordion-content" style="display: block;">
        </div>
    </div>

    
</div>
{% endblock %}