{% extends 'emac_base_template.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block head %}

	<link rel="stylesheet" href="{% static 'css/submissions.css' %}?v=2024-09-05" />
    <script type="text/javascript" src="{% static 'js/categoryRendering.js' %}?v=2024-09-05"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            rerenderCategoriesHierarchically('{{ category_hierarchy_json|safe }}', '{{ category_names_by_id_json|safe }}', '{{ selected_category_ids_json|safe }}');
        });
    </script>
    <script type="text/javascript" src="{% static 'js/submissions.js' %}?v=2024-09-05"></script>
  
{% endblock %}

{% block title %}HSSI Software Submission{% endblock %}

{% block page_content %}

    <div class="small-12 container submission_form">
        <h3 class="page_title">Resource Submission</h3>
        <p class="submission-text">
            This page allows developers to submit their software for 
            inclusion within HSSI. Use the form below to let us know about your software, 
            including it's name, a brief description, the developers, what categories 
            the resource falls under, whether you want the resource hosted on HSSI, 
            and any relevant links, images, or credits that you'd like us to include.
        </p>
        <p class="submission-text">
            After you submit your resource, a member of our team will be in touch to 
            discuss a plan for including it in HSSI.
        </p>
        <p class="submission-text">
            <span class="submission-note">NOTE:</span> 
            All web-based submissions are expected to conform to 
            <a href="https://www.w3.org/standards/" target="_blank">W3C standards</a>, 
            must pass the W3C <a href="https://validator.w3.org" target="_blank">Markup</a> 
            and <a href="https://jigsaw.w3.org/css-validator/" target="_blank">CSS</a> 
            validation services, and must support all major cross-platform browsers 
            (sc. <a href="https://www.google.com/chrome/" target="_blank">Chrome</a>, 
            <a href="https://www.mozilla.org/firefox/" target="_blank">Firefox</a>, 
            and <a href="https://www.apple.com/safari/" target="_blank">Safari</a>).
        </p>
        {% if submission_form.captcha.errors %}
            {% for error in submission_form.captcha.errors %}
                <p class="submission-text"><strong>{{ error }}</strong></p>
            {% endfor %}
        {% endif %}
        {% crispy submission_form submission_form.helper %}
    </div>

{% endblock %}
