{% extends 'site_base_template.html' %}

{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'css/team.css' %}?v=2024-10-15" />
<script type="text/javascript" src="{% static 'js/team.js' %}?v=2024-10-15"></script>

{% endblock %} 

{% block page_content %}

{% get_static_prefix as STATIC_PREFIX %}

<div class="small-6 medium-12 large-12 container">
	<div class="team-description">
		<h1 class="page_title">Our Team</h1>
		<p>
			Here is some information about our team members.
		</p>
	</div>
	<div class="team_container">
		<div class="callout medium team-info">
			<img 
				class="p_img" 
				style="object-fit: cover;"
				src="https://lasp.colorado.edu/media/projects/lasp/people/julie-barnum.jpg"
			>
			<div class="p_name">
				<a href="" class="personal-url" target="_blank">
					Julie Barnum
				</a>
				<br>
				<span class="p_desc">
					Principal Investigator, Project management
				</span>
			</div>
		</div>
		<div class="callout medium team-info">
			<img 
				class="p_img" 
				style="object-fit: cover;"
				src="https://technostalgic.gitlab.io/portfolio/files/media/avatar.png"
			>
			<div class="p_name">
				<a href="https://technostalgic.gitlab.io/portfolio/" class="personal-url" target="_blank">
					Isaiah Smith
				</a>
				<br>
				<span class="p_desc">
					Software development
				</span>
			</div>
		</div>
		<div class="callout medium team-info">
			<img 
				class="p_img" 
				style="object-fit: cover;"
				src="/static/images/rebecca_ringuette.jpg"
			>
			<div class="p_name">
				<a href="" class="personal-url" target="_blank">
					Rebecca Ringuette
				</a>
				<br>
				<span class="p_desc">
					Metadata design, Software curation
				</span>
			</div>
		</div>
		<div class="callout medium team-info">
			<img 
				class="p_img" 
				style="object-fit: cover;"
				src="/static/images/catherine_byrd.jpg"
			>
			<div class="p_name">
				<a href="" class="personal-url" target="_blank">
					Catherine Byrd
				</a>
				<br>
				<span class="p_desc">
					Software curation
				</span>
			</div>
		</div>
		<div class="callout medium team-info">
			<img 
				class="p_img" 
				style="object-fit: cover;"
				src="https://science.gsfc.nasa.gov/images/Photos/65173/1132024102759_Renaud,%20Joe_02.jpg"
			>
			<div class="p_name">
				<a href="" class="personal-url" target="_blank">
					Joe Renaud
				</a>
				<br>
				<span class="p_desc">
					Design and technical consultation
				</span>
			</div>
		</div>
		<div class="callout medium team-info">
			<img 
				class="p_img" 
				style="object-fit: cover;"
				src="/static/images/shawn_polson.jpg"
			>
			<div class="p_name">
				<a href="" class="personal-url" target="_blank">
					Shawn Polson
				</a>
				<br>
				<span class="p_desc">
					Technical lead
				</span>
			</div>
		</div>
		{% comment %}
		{% for team_member in team %}
			<div class="callout medium team-info">
				{% if team_member.member_image %}
					<img class="p_img" src="{{STATIC_PREFIX}}{{team_member.member_image.url}}">
				{% endif %}
				<div class="p_name">
					{% if team_member.personal_url %}
					<a href="{{team_member.personal_url}}" class="personal-url" target="_blank">{{team_member.name}}</a>
					{% else %}
					{{team_member.name}}
					{% endif %}
					<br/>
					<span class="p_desc">{{team_member.description}}</span>
				</div>
			</div>
		{% endfor %}
		{% endcomment %}
	</div>

	<!--div class="my-accordion-section">
		<div class="my-accordion-header-bar">
			<div class="page_title alumni-title">Our Alumni</div>
			<div class="caret-container">
				<span class="caret"></span>
			</div>
		</div>
		<div class="team_container my-accordion-content">
			{% for team_member in alumni %}
			<div class="callout medium team-info">
				{% if team_member.member_image %}
				<img class="p_img" src="{{STATIC_PREFIX}}{{team_member.member_image.url}}">
				{% endif %}
				<div class="p_name">
					{% if team_member.personal_url %}
					<a href="{{team_member.personal_url}}" class="personal-url" target="_blank">{{team_member.name}}</a>
					{% else %}
					{{team_member.name}}
					{% endif %}
					<br />
					<span class="p_desc">{{team_member.description}}</span>
				</div>
			</div>
			{% endfor %}
		</div>
	</div-->
</div>

{% endblock %} 